/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
logs/*
!/logs/.keep
/file_base/*
!/file_base/.keep


# rspec failure tracking
.rspec_status
# credentials
.hwm_credentials.yml
# captcha
captcha.png
.byebug_history
secrets.yml
